@media screen and (min-width: 480px) {
    .containerq {
      width: 428px;
      margin-left: auto;
      margin-right: auto;
    }
}

.headerq {
    background-color: #ffffff;
    border: 1px solid #fcfcfc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
  
  
.headerq .containerq {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 24px;
}


    
.link {
    text-decoration: none;
    color: #EF0D63
}


.link:is:is(:hover, :focus) {
    text-decoration: none;
    color: #EF0D63
}



.list {
    list-style: none;
    font-style: normal;
}



.logo > .link {
    color: #EF0D63;
}


.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:#EF0D63;
    margin-right: 76px;
    transition: var(--o-transform-link-color);
}


.logo-head {
    color:#2e2f42;
}


.logo-foot {
    color: #f4f4fd;
}

.nav > .list, .addr>.list {
    display: none;
}

.mobile-menu-open {
    border: none;
    background-color: transparent;
    padding: 0;
  }


.mobile-menu-open-icon {
    fill: #2E2F42;
    transition: var(--o-transform-link-fill);
}


.mobile-menu-open:is(:hover, :focus) > .mobile-menu-open-icon {
    fill: #EF0D63;
}

  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 24px;
  }
  
  .mobile-menu {
    position: fixed;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 80px 35px 40px 40px;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    z-index: 3;
  }
  
  .mobile-menu.is-open {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    overflow: scroll;
  }
  
  .menu-close {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 40px;
    right: 40px;
    width: 24px;
    height: 24px;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    transition: var(--o-transform-link-background), var(--o-transform-link-border);

}


.menu-close-icon {
    fill: #2E2F42;
    transition: var(--o-transform-link-fill);
}


.menu-close:is(:hover, :focus) {
    background-color: #EF0D63;
}


.menu-close:is(:hover, :focus) > .menu-close-icon{
    fill: #ffffff;
}
  
.mobile-menu-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
  
.mobile-nav {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
  
.mobile-navi-link {
    color: #2e2f42;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
 

.mobile-navi .line > .mobile-navi-link {
    color: #EF0D63;
}

.mobile-cont {
    display: flex;
    flex-direction: column;
}
  

  
.mobile-addr {
    margin-bottom: 48px;
}


.mobile-addr-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
  
.menu-social-media {
    display: flex;
    justify-content: space-between;
}



.mob-ic-list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 35px;
}

 
  
.tel {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color:#EF0D63;
}
  
.email {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
}
  

.mobile-navi .line {
    color: #EF0D63;
}




.sektion-one {
    background-color: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/back.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 112px;
    padding-bottom: 112px;
}





.title {
    max-width: 320px;
    margin: 0 auto;
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
}


.butt {
    background-color: #EF0D63;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    cursor: pointer;
    padding: 16px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    margin: 0 auto;
    transition: var(--o-transform-link-background); 
}


.butt:is(:hover, :focus) {
    background-color: #b90b4e;
}


    .sektion-four {
        background-color: #F4F4FD;
        padding-top: 120px;
        padding-bottom: 120px;
    }
    

    
    .sektion-four-title {
        color: #2e2f42;
        margin-bottom: 72px;
        font-weight: 700;
        font-size: 36px;
        line-height: 40px;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
    }


    .portfolio-section {
        padding-top: 48px;
        padding-bottom: 48px;
    }
    
    
    
    .portfolio-punct-list {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 48px;
    }
    
    
    .portfolio-punct-list-link {
        display: block;
        transition: var(--o-transform-link-shadow);
    }
    
    
    .portfolio-punct-list-link:hover {
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
        transform: translateY(0%);
    }
    
    
    .portfolio-punct-list-link:focus {
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
        transform: translateY(0%);
    }
    
    
    .port-punct {
        margin-bottom: 48px;
        width: 369px;
    }
    
    .portfolio-img-cont {
        position: relative;
        overflow: hidden;
    }
    
    
    .hidden-par {
        width: 100%;
        height: 100%;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        background-color: #ef0d645e;
        width: 100%;
        padding: 40px 32px;
        position: absolute;
        top: 0;
        transform: translateY(100%);
        transition: var(--o-transform-link-transform);
    }
    
    
    .portfolio-punct-list-link:hover .hidden-par {
        transform: translateY(0);
    }
    
    
    .portfolio-punct-list-link:focus .hidden-par {
        transform: translateY(0);
    }
    
    
    
    .portfolio-img {
        display: block;
        width: 100%;
    }
    
    
    .info {
        padding: 32px 16px;
        border: 1px solid #e7e9fc;
        border-top: none;
    }
    
    
    .portfolio-list-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color:#2e2f42;
        margin-bottom: 8px;
    }
    
    
    .portfolio-list-par {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
    }


    .backdrop {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(46, 47, 66, 0.4);
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    }
    
    
    .is-hidden {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
    
    
    .modalq {
        position: absolute;
        width: 326px;
        min-height: 584px;
        top: 80px;
        background: #FCFCFC;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
        background: #fcfcfc;
        transition: var(--o-transform-link-transform);
        padding: 72px 16px 16px 16px;
    }
    
    
    .close {
        position: absolute;
        top: 24px;
        right: 24px;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #e7e9fc;
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 0;
        cursor: pointer;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    
    .close:is(:hover, :focus) {
        background-color: #b90b4e;
        border: none;
    }
    
    
    .close-icon {
        fill: #2e2f42;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    
    .close:is(:hover, :focus) .close-icon{
        fill: #ffffff;
    }
    
    
    .modal-title {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 16px;
        text-align: center;
        letter-spacing: 0.02em;
        color: #2E2F42;
    }
    
    
    
    .modal-punct {
        margin-bottom: 8px;
    }
    
    
    .modal-lable {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #8e8f99;
        display: block;
        margin-bottom: 4px;
    }
    
    
    .yarn {
        position: relative; 
    }
    
    
    .modal-in {
        width: 100%;
        height: 40px;
        border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        background-color: transparent;
        padding-left: 38px;
        outline: transparent;
        transition: var(--o-transform-link-border);
    }
    
    
    .modal-in:focus {
        border-color: #b90b4e;
    }
    
    
    .modal-icon {
        position: absolute;
        left: 16px;
        top: 50%;
        transform: translateY(-50%);
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    
    .modal-in:focus + .modal-icon{
        fill:  #b90b4e;
    }
    
    
    .comment{
        margin-bottom: 16px;
    }
    
    
    .comment-user {
        width: 100%;
        height: 120px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        background-color: transparent;
        padding: 8px 16px;
        outline: transparent;
        resize: none;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        font-size: 12px; 
        color: rgba(46, 47, 66, 0.4); 
    }
    
    
    .comment-user:focus {
        border-color: #b90b4e;
    }
    
    
    .check-mark {
        margin-bottom: 24px;
    }
    
    
    .check {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #8e8f99;
    }
    
    .check-mark input {
        position: absolute;
    }
    
    
    .contact-form {
        width: 16px;
        height: 16px;
        border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 2px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        fill: transparent;
        margin-right: 8px;
    }
    
    
    .checkbox-own:checked + .check >  .contact-form {
        background-color:  #b90b4e;
        border: none; 
        fill:  #f4f4fd;
      }
    
    
    .link-privacy-policy {
        color: #b90b4e;
    }
    
    .button-privacy-policy {
        display: block;
        min-width: 169px;
        height: 56px;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #ffffff;
        cursor: pointer;
        background-color: #EF0D63;
        border: none;
        border-radius: 4px;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #ffffff;
        cursor: pointer;
        border-radius: 4px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        margin: 0 auto;
    }
    
    .button-privacy-policy:is(:hover, :focus){
        background-color: #b90b4e;
    }



 @media screen and (min-width: 768px) {
    .mobile-menu-open {
        display: none;
    }


    .containerq {
        width: 768px;
    }

    .headerq .containerq {
        justify-content: space-between;
        padding-top: 16px;
        padding-bottom: 16px;
    }
    
    .modalq {

        height: 576px;
    }

    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    
    .logo {
        margin-right: 76px;
    }

    .nav>.list {
        display: flex;
        padding: 0px;
        gap: 40px;
    }
    
    
    .navi {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color:#2e2f42;
        padding: 24px 0;
        transition: var(--o-transform-link-color);
    }
    
    
    .navi:is(:hover, :focus) {
        color: #EF0D63;
    }
    
    
    .line {
        color: #EF0D63;
        position: relative;
    }

    .line::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -9px;
        width: 100%;
        height: 4px;
        background-color: #EF0D63;
        border-radius: 2px;
    }
    
    .addr {
        display: flex;
        font-style: normal;
        align-items: center;
        margin-left: auto;
    }
    
    
    .addr>.list {
        display: flex;
        flex-direction: column;
        padding: 0;
        gap: 12px;
    }
    
    
    .addr-link {
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.04em;
        color: #434455;
        transition: var(--o-transform-link-color);
    }


    .title {
        min-width: 496px;
        font-size: 56px;
        line-height: 1.07;
    }  

    

    .portfolio-punct-list {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;    
        align-items: flex-start;

    }


    .port-punct {
        display: inline-block;
        border: 1px solid #E7E9FC;
        width: calc((100% - 30px) / 2);
        display: inline-block;
    }



    .modalq {
        min-width: 408px;
    }



}





    @media screen and (min-width: 1158px) {
        .containerq {
            width: 1158px;
            padding-left: 15px;
            padding-right: 15px;
            margin: 0 auto;
        }
    
        .headerq {
            border-bottom: 1px solid #e7e9fc;
            box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
        }
          
        
        .headerq .containerq {
            display: flex;
            justify-content: space-between;
            padding-top: 24px;
            padding-bottom: 24px;
        }
        
        .line::after {
            bottom: -3px;
        }
        
        .addr {
            display: flex;
            font-style: normal;
            align-items: center;
            margin-left: auto;
        }
        
        
        .addr>.list {
            display: flex;
            align-items: center;
            flex-direction: row;
            align-items:center;
            padding: 0px;
            gap: 40px;
        }
        
        
        .addr-link {
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color:#434455;
            gap: 40px;
            transition: var(--o-transform-link-color);
        }



        .sektion-one {
            background-color: #2e2f42;
            padding-top: 188px;
            padding-bottom: 188px;
            text-align: center;
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/back.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            margin: 0 auto;
        }
        
        
        
        .title {
            font-size: 56px;
            line-height: 1.07;
            letter-spacing: 0.02em;
            color: #ffffff;
            max-width: 496px;
            margin: 0 auto;
            margin-bottom: 48px;
        }
        
        
        .butt {
            background-color: #EF0D63;
            font-family: "Roboto", sans-serif;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.04em;
            color: #ffffff;
            cursor: pointer;
            padding: 16px 32px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            border-radius: 4px;
            display: block;
            min-width: 169px;
            height: 56px;
            border: none;
            margin: 0 auto;
            transition: var(--o-transform-link-background);
        }
        
        
        .butt:is(:hover, :focus) {
            background-color: #b90b4e;
            font-family: "Roboto", sans-serif;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.04em;
            color: #ffffff;
            cursor: pointer;
        }


        .sektion-four {
            background-color: #F4F4FD;
            padding-top: 120px;
            padding-bottom: 120px;
        }
        
    
        
        
        .sektion-four-title {
            font-size: 36px;
            line-height: 1.11;
            text-align: center;
            letter-spacing: 0.02em;
            text-transform: capitalize;
            color: #2e2f42;
            margin-bottom: 72px;
        }


        .portfolio-section {
            padding-top: 96px;
            padding-bottom: 120px;
        }

        .portfolio-punct-list {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            row-gap: 48px;
        }
        
        
        .portfolio-punct-list-link {
            display: block;
            transition: var(--o-transform-link-shadow);
        }
        
        
        .portfolio-punct-list-link:hover {
            box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
            transform: translateY(0%);
        }
        
        
        .portfolio-punct-list-link:focus {
            box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
            transform: translateY(0%);
        }
        
        
        .port-punct {
            display: inline-block;
            border: 1px solid #E7E9FC;
            width: calc((100% - 48px) / 3);
            display: inline-block;
        }
        
        
        .portfolio-img-cont {
            position: relative;
            overflow: hidden;
        }
        
        
        .hidden-par {
            width: 100%;
            height: 100%;
            font-weight: 400;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #f4f4fd;
            background-color: #ef0d645e;
            width: 100%;
            padding: 40px 32px;
            position: absolute;
            top: 0;
            transform: translateY(100%);
            transition: var(--o-transform-link-transform);
        }
        
        
        .portfolio-punct-list-link:hover .hidden-par {
            transform: translateY(0);
        }
        
        
        .portfolio-punct-list-link:focus .hidden-par {
            transform: translateY(0);
        }
        
        
        
        .portfolio-img {
            
            display: block;
            width: 100%;
        }
        
        
        .portfolio-list-title {
            font-weight: 500;
            font-size: 20px;
            line-height: 1.2;
            letter-spacing: 0.02em;
            color:#2e2f42;
            margin-bottom: 8px;
        }
        
        
        .portfolio-list-par {
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #434455;
        }

        .backdrop {
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0;
            left: 0;
            background-color: rgba(46, 47, 66, 0.4);
            transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
        }
        
        
        .is-hidden {
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
        }
        
        
        .modalq {
            position: absolute;
            width: 408px;
            min-height: 584px;
            top: 80px;
            background: #FCFCFC;
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
            border-radius: 4px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(1);
            transition: var(--o-transform-link-transform);
            padding: 72px 24px 24px 24px;
        }
        
        
        .close {
            position: absolute;
            top: 24px;
            right: 24px;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #e7e9fc;
            border: 1px solid rgba(0, 0, 0, 0.1);
            padding: 0;
            cursor: pointer;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        
        
        .close:is(:hover, :focus) {
            background-color: #b90b4e;
            border: none;
        }
        
        
        .close-icon {
            fill: #2e2f42;
            transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        
        
        .close:is(:hover, :focus) .close-icon{
            fill: #ffffff;
        }
        
        
        .modal-title {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            margin-bottom: 16px;
            text-align: center;
            letter-spacing: 0.02em;
            color: #2E2F42;
        }
        
        
        
        .modal-punct {
            margin-bottom: 8px;
        }
        
        
        .modal-lable {
            font-size: 12px;
            line-height: 1.17;
            letter-spacing: 0.04em;
            color: #8e8f99;
            display: block;
            margin-bottom: 4px;
        }
        
        
        .yarn {
            position: relative; 
        }
        
        
        .modal-in {
            width: 100%;
            height: 40px;
            border: 1px solid rgba(46, 47, 66, 0.4);
            border-radius: 4px;
            background-color: transparent;
            padding-left: 38px;
            outline: transparent;
            transition: var(--o-transform-link-border);
        }
        
        
        .modal-in:focus {
            border-color: #b90b4e;
        }
        
        
        .modal-icon {
            position: absolute;
            left: 16px;
            top: 50%;
            transform: translateY(-50%);
            transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        
        
        .modal-in:focus + .modal-icon{
            fill: #EF0D63;
        }
        
        
        .comment{
            margin-bottom: 16px;
        }
        
        
        .comment-user {
            width: 100%;
            height: 120px;
            line-height: 1.17;
            letter-spacing: 0.04em;
            border: 1px solid rgba(46, 47, 66, 0.4);
            border-radius: 4px;
            background-color: transparent;
            padding: 8px 16px;
            outline: transparent;
            resize: none;
            transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            font-size: 12px; 
            color: rgba(46, 47, 66, 0.4); 
        }
        
        
        .comment-user:focus {
            border-color: #b90b4e;
        }
        
        
        .check-mark {
            margin-bottom: 24px;
        }
        
        
        .check {
            font-size: 12px;
            line-height: 1.17;
            letter-spacing: 0.04em;
            color: #8e8f99;
        }
        
        .check-mark input {
            position: absolute;
        }
        
        
        .contact-form {
            width: 16px;
            height: 16px;
            border: 1px solid rgba(46, 47, 66, 0.4);
            border-radius: 2px;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
            display: inline-flex;
            align-items: center;
            justify-content: center;
            fill: transparent;
            margin-right: 8px;
        }
        
        
        .checkbox-own:checked + .check >  .contact-form {
            background-color: #b90b4e;
            border: none; 
            fill:  #f4f4fd;
          }
        
        
        .link-privacy-policy {
            color: #b90b4e;
        }
        
        .button-privacy-policy {
            display: block;
            min-width: 169px;
            height: 56px;
            font-family: "Roboto", sans-serif;
            font-size: 16px;
            font-weight: 500;
            line-height: 1.5;
            letter-spacing: 0.04em;
            color: #ffffff;
            cursor: pointer;
            background-color: #EF0D63;
            border: none;
            border-radius: 4px;
            font-size: 16px;
            font-weight: 500;
            line-height: 1.5;
            letter-spacing: 0.04em;
            color: #ffffff;
            cursor: pointer;
            border-radius: 4px;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            margin: 0 auto;
        }

        .button-privacy-policy:is(:hover, :focus){
            background-color: #b90b4e;
        }
        

    }
    



    



    



