* {
    margin: 0;
    box-sizing: border-box;
}


:root {
    --o-transform-link-color: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --o-transform-link-background: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --o-transform-link-shadow: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --o-transform-link-border: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --o-transform-link-transform:  transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --o-transform-link-fill: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


p,h1,h2,h3,h4,h5,h6 {
    margin: 0;
}


ul {
    margin: 0;
    padding-left: 0;
}


img {
    display: block;
}


button {
    cursor: pointer;
}

.link {
    text-decoration: none;
    color: #404bbf
}


.link:hover {
    text-decoration: none;
    color: #404bbf
}


.link:focus {
    text-decoration: none;
    color: #404bbf
}


.list {
    list-style: none;
    font-style: normal;
}



.containerq {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}


body {
    font-family: "Roboto",sans-serif;
    color: #434455;
    background-color:#FFFFFF;
}